<!DOCTYPE html>
<html>
<head>
    <script type="module" src="/JokeApi.js"></script>
</head>
<body>
<p>Tell me a joke</p>
<input id="searchTermInput"></input>
<button onclick="submitJokeRequest()">Submit</button>
<script>
    function submitJokeRequest() {
        var inputValue = document.getElementById("searchTermInput").value;
        console.log("Hi");
        // jokeApi.submit(inputValue).then(data => {
        //     console.log("Hello");
        //     console.log(data);
        // });
    }
</script>
</body>
</html>